<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <div>
          <p>
            <a href = "{% url 'todo_list_create' %}">Create new list</a>
          </p>
          <p>
            <a href = "{% url 'todo_item_create' %}">Create new item</a>
          </p>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for todo_name_object in todo_list.all %}
              <tr>
                <td>
                  <a href = "{% url 'todo_list_detail' todo_name_object.id %}"> {{ todo_name_object.name }}
                  </td>
                  <td>{{ todo_name_object.items.count }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </body>
    </html>
